<template>
  <div id="result">
    {{msg}}
    <Rides></Rides>
  </div>
</template>

<script>
  import io from 'socket.io-client'
  import Store from './store/result'

  let s = new Store();

  let Rides = {
    template: `<table>
               <thead>
                   <tr>
                       <th>Type</th>
                       <th>Price</th>
                       <th>Delay</th>
                       <th>Launch Uber</th>
                   </tr>
               </thead>
               <tbody>
                    <tr v-for="obj in state.rides">
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.price }}€</td>
                        <td>{{ obj.delay }} minutes</td>
                        <td><a :href="obj.app_url">go</a></td>
                   </tr>
               </tbody>
           </table>`,
    data: function () {
      return {
        state: s.state
      }
    }
  }

  // todo dynamise
  let url = 'http://localhost:5000/ride-info';
  const socket = new io(url);

  // wait for emit message from backend
  socket.on('ride', function (msg) {

      if(Array.isArray(msg.data)){

        s.updateRides(msg.data);
      }
  });

  export default {
    name: 'result',
    components: { Rides },
    methods: {
      updateRides: function () {
        s.updateRides()
      }
    },
    data() {
      return {
        msg: 'Result view'
      }
    }
  }
</script>

<style lang="scss">
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
