<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>client</title>
  </head>
  <body>
  <input type="hidden" value="{{token}}">
    <div id="app"></div>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
