<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
<div id="result"></div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='result.js') }}"></script>
<!--<script src="node_modules/socket.io-client/dist/socket.io.js" defer async></script>-->
<!--<script rel="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>-->
<!--<script rel="javascript" src="https://cdn.socket.io/socket.io-1.0.0.js"></script>-->

</html>
