<template>
  <div id="uber">
    {{view}}
    <form action="/ride-info" method="POST">
      <input type="text" name="address_start" placeholder="start point address">
      <input type="text" name="address_destination" placeholder="destination point address">
      <input type="submit">
    </form>
  </div>
</template>

<script>

  export default {
    name: 'Uber',
    data() {
      return {
        view: 'Uber component'
      }
    }
  }
</script>
